.selectize-input {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: .875rem;
    min-height: 0px;
}

.selectize-option {
    font-size: .875rem;
}

.selectize-input.focus {
    box-shadow: none;
}

.table-row-selector {
    width: 8px;
    max-width: 8px;
    cursor: pointer;
}
